<ion-header>
  <ion-navbar>
    <ion-title>
      Your To-Do List
    </ion-title>
    <ion-buttons end *ngIf="signedIn">
        <button (click)="presentAddTodoModal()" ion-button icon-left color="primary"><ion-icon name="add-circle"></ion-icon> New ToDo</button>
        <button (click)="signOut()" ion-button color="primary">Sign Out</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  padding>
    <div *ngIf="signingIn">
        <p>Signing in...</p>
    </div>
    <div *ngIf="signInError">
        <p>{{ signInError }}</p>
    </div>
    <div *ngIf="!signedIn && !signingIn">
        <button (click)="signInWithGoogle()" ion-button icon-left color="primary">Sign in with Google</button>
    </div>
    <div *ngIf="signedIn">
        <ion-item *ngFor="let todo of todos | async">{{ todo.title }}</ion-item>
    </div>
</ion-content>
